botany-core
dj-database-url
django
django-dotenv
django-rq
gunicorn
psycopg2-binary
whitenoise

# Development
black
bumpversion
coverage
flake8
hypothesis
isort

# Client
# TODO: move these to setup.py
click
requests
