{% extends 'botany/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md">
    <h1>Game {{ game.id }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <table class="table table-sm">
      <tr>
        <th>bot1</th>
        <td><a href="{% url 'user_bots' bot1.user_id %}">{{ bot1.user_name }}</a> : : <a href="{% url 'bot' bot1.id %}">{{ bot1.name_and_version }}</a></td>
      </tr>
      <tr>
        <th>bot2</th>
        <td><a href="{% url 'user_bots' bot2.user_id %}">{{ bot2.user_name }}</a> : : <a href="{% url 'bot' bot2.id %}">{{ bot2.name_and_version }}</a></td>
      </tr>
      <tr>
        <th>Result</th>
        <td>{{ game.summary }}</td>
      </tr>
      {% if game.details %}
      <tr>
        <th>Details</th>
        <th>{{ game.details }}</th>
      </tr>
      {% endif %}
    </table>
  </div>

  <div class="col-md">
    <div class="row justify-content-md-center">
      <div id="board-controls" class="btn-group" role="group">
        <button type="button" id="wind-back-to-start" class="btn btn-light">&lt; &lt;</button>
        <button type="button" id="wind-back" class="btn btn-light">&lt;</button>
        <button type="button" id="wind-on" class="btn btn-light">&gt;</button>
        <button type="button" id="wind-on-to-end" class="btn btn-light">&gt; &gt;</button>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <style type="text/css">
        {{ styles|safe }}
      </style>
      {% for board in boards %}
      <div class="board">
        {{ board|safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
