{% extends 'botany/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md">
    <h1>Game {{ game.id }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <table class="table table-sm">
      <tr>
        <th>bot1</th>
        <td>{% include "botany/_bot_user_link.html" with bot=bot1 %} : : {% include "botany/_bot_link.html" with bot=bot1 %}</td>
      </tr>
      <tr>
        <th>bot2</th>
        <td>{% include "botany/_bot_user_link.html" with bot=bot2 %} : : {% include "botany/_bot_link.html" with bot=bot2 %}</td>
      </tr>
      <tr>
        <th>Result</th>
        <td>{{ game.summary }}</td>
      </tr>
      {% if game.details %}
      <tr>
        <th>Details</th>
        <td>{{ game.details }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Moves</th>
        <td>{{ game.moves }}</td>
      </tr>
    </table>
  </div>

  <div class="col-md">
    <div class="row justify-content-md-center">
      <div id="board-controls" class="btn-group" role="group">
        <button type="button" id="wind-back-to-start" class="btn btn-light">&lt; &lt;</button>
        <button type="button" id="wind-back" class="btn btn-light">&lt;</button>
        <button type="button" id="wind-on" class="btn btn-light">&gt;</button>
        <button type="button" id="wind-on-to-end" class="btn btn-light">&gt; &gt;</button>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <style type="text/css">
        {{ styles|safe }}
      </style>
      {% for board in boards %}
      <div class="board">
        {{ board|safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
