{% extends 'botany/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm">
    <h1>Welcome to Botany.</h1>

    {% if tournament_before %}
    <p>The tournament is not open yet.</p>
    <p>Please, check the website soon.</p>
    {% endif %}

    {% if tournament_closed %}
    <p>The tournament has now closed.</p>
    <p>Thanks to everyone who took part and congratulations to <a href="/winners/">the winners</a>.</p>
    {% endif %}

    <p>
      There have been {{ summary.num_games_between_active_bots }} games between {{ summary.num_active_bots }} active bots.
      ({{ summary.num_games }} games and {{ summary.num_bots }} bots in total.)
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h2>Leaderboard</h2>

    {% include "botany/_standings.html" with standings=standings linkto="bot" %}
  </div>
</div>

{% endblock %}
