{% extends 'botany/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-sm">
    <h1>{{ bot_user.name }}</h1>

    {% if bots %}
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Bot</th>
          <th>P</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>Points</th>
          <th>Birthday</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for bot in bots %}
        <tr>
          <td>
            {% if bot.is_active %}
            <img src="{% static bot_img_src %}" width=40 height=40 title="Active bot">
            {% endif %}
          </td>
          <td><a href="{% url 'bot' bot.id %}">{{ bot.name_and_version }}</a></td>
          <td>{{ bot.num_played }}</td>
          <td>{{ bot.num_wins }}</td>
          <td>{{ bot.num_draws }}</td>
          <td>{{ bot.num_losses }}</td>
          <td>{{ bot.score }}</td>
          <td>{{ bot.created_at }}</td>
          <td>
            {% if editable %}
            {% if bot.is_inactive %}
            <form method="post" class="form-inline">
              {% csrf_token %}
              <input type="hidden" name="bot_id" value="{{ bot.id }}" />
              <button type="submit" class="btn btn-light">Make active</button>
            </form>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    {% if editable %}
    <p>You have not submitted any bots yet!</p>
    {% else %}
    <p>{{ bot_user.name }} has not submitted any bots yet!</p>
    {% endif %}
    {% endif %}

    {% if editable %}
    <h3>About you</h3>
    <p>You have been programming for...</p>

    <form action="{% url 'user' user.id %}" method="post" class="form-inline">
      {% csrf_token %}
      <input type="hidden" name="user_id" value="{{ user.id }}" />
      <button name="is_beginner" value="y" type="submit" class="btn btn-{% if user.is_beginner %}dark disabled"{% else %}light"{% endif %}>Less than a year</button>
      <button name="is_beginner" value="n" type="submit" class="btn btn-{% if user.is_beginner == False %}dark disabled"{% else %}light"{% endif %}>More than a year</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
