{% extends 'botany/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm">
    <h1>The winners</h1>

    <h2>Best in show <small>/Highest-placed bot</small></h2>
    <p><a href="https://botany18.pyconuk.org/bots/319/">Robert Seaman :: not_minimax.py (v25)</a></p>

    <h2>Highest new entry <small>/Highest-placed bot by somebody who’s been coding for less than a year</small></h2>
    <p>Uncontested

    <h2>Worst in show <small>/Lowest-placed bot</small></h2>
    <p>A tie between <a href="https://botany18.pyconuk.org/bots/106/">James Campbell :: horrible.py (v4)</a> and <a href="https://botany18.pyconuk.org/bots/22/">Ronan Murphy :: loser.py</a></p>

    <h2>One hit wonder <small>/Highest-placed bot from somebody who’s only submitted one bot</small></h2>
    <p><a href="https://botany18.pyconuk.org/bots/107/">Sergey Kolosov :: sergeykolosov_0004.py</a></p>

    <h2>Best goldfish <small>/Highest-placed bot that keeps no record of its state</small></h2>
    <p><a href="https://botany18.pyconuk.org/bots/319/">Robert Seaman :: not_minimax.py (v25)</a></p>

    <h2>Best minnow <small>/Smallest bot (measured by size of AST) that beats all the house bots</small></h2>
    <p><a href="https://botany18.pyconuk.org/bots/288/">Matt Wheeler :: smol.py</a></p>

    <p>Thanks to <a href="https://www.oreilly.com/">O'Reilly for the prizes!</a></p>
  </div>
</div>
{% endblock %}
